
<h1 class="mt-4">Males clothes shop bags</h1>
<p class="lead mb-3">Welcome <%= user.name %>
</p>

<div class="container p-3">

    <div class="fg-gallery">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-0001.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-0002.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-0003.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-0004.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-0005.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-0006.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-0007.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-0008.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-0009.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-0010.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-0011.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-0012.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-0013.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-0014.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00015.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00016.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00017.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00018.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00019.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00020.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00021.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00022.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00023.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00024.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00025.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00026.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00027.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00028.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00029.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00030.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00031.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00032.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00033.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00034.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00035.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00036.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00037.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00038.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00039.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00040.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00041.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00042.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00043.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00044.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00045.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00046.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00047.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00048.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00049.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00050.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00051.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00052.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00053.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00054.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00201.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00202.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00203.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00204.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00205.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00206.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00207.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00208.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00209.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00210.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00211.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00212.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00213.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00214.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00215.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00216.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00217.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00218.jpg">
        <img
            src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-00219.jpg">
    </div>

</div>