<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container">
      <a class="navbar-brand" style="clear: both"><h4 style="color: 
      #5a443a; float: left; width: 50%; font-family: 'Montserrat', sans-serif; font-weight: 900;">Maitreya </h4><h4  style="color: #e09b6d; float: right; width: 50%; text-align: right; font-family: 'Montserrat', sans-serif; font-weight: 900;"> Marketing</h4></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" style="color: #e09b6d; text-align: center;" href="/users/logout">Logout</a>
    </li>
      </ul>
  </div>
  </div>
  </nav>
<div class="container p-3" style="text-align:center;">

<div style="display:inline-block; margin:auto;" class="text-center">
<img src="https://raw.githubusercontent.com/Tech-Novus/images/main/MULTICOLOUR/VOLUME-2-DESIGN-00002.jpg" style="height: 240px; width: 240px;">
<br>
<br>
<button type="button" style="background-color: #5a443a; color: #fdd0a5; outline: none !important; box-shadow: none; border-color: none !important; font-family: 'Montserrat', sans-serif; font-size: 15px;" onclick="location.href='/multic';" class="btn btn-primary btn-lg custom" style="align-self: center;">Multi colour + images</button>
</div>
<div style="display:inline-block; margin:auto;" class="text-center">
  <br>
  <br>
  <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/MULTICOLOUR%20WITHOUT%20IMAGE/VOLUME-1-DESIGN-00011.jpg" style="height: 240px; width: 240px;">
  <br>
  <br>
  <button type="button" style="background-color: #5a443a; color: #fdd0a5; outline: none !important; box-shadow: none; border-color: none !important; font-family: 'Montserrat', sans-serif; font-size: 15px;" onclick="location.href='/multicolorwithout';" class="btn btn-primary btn-lg custom" style="align-self: center;">Multi colour</button>
</div>

<div style="display:inline-block; margin:auto;" class="text-center">
  <br>
  <br>
  <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/DOUBLE%20COL%20DESIGN%20WITH%20VECTOR/VOLUME-4-DESIGN-00001.jpg" style="height: 240px; width: 240px;">
  <br>
  <br>
  <button type="button" style="background-color: #5a443a; color: #fdd0a5; outline: none !important; box-shadow: none; border-color: none !important; font-family: 'Montserrat', sans-serif; font-size: 15px;" onclick="location.href='/double';" class="btn btn-primary btn-lg custom" style="align-self: center;">Double colour</button>
</div>

<div style="display:inline-block; margin:auto;" class="text-center">
  <br>
  <br>
  <br>
  <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/DOUBLE%20COL%20WITH%20MODEL/VOLUME-5-DESIGN-0001.jpg" style="height: 240px; width: 240px;">
  <br>
  <br>
  <button type="button" style="background-color: #5a443a; color: #fdd0a5; outline: none !important; box-shadow: none; border-color: none !important; font-family: 'Montserrat', sans-serif; font-size: 15px;" onclick="location.href='/doublecolourwith';" class="btn btn-primary btn-lg custom" style="align-self: center;">Double colour + Models</button>
</div>
<div style="display:inline-block; margin:auto;" class="text-center">
  <br>
  <br>
  <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/SINGLE%20COl/VOLUME-11-DESIGN-00001.jpg" style="height: 240px; width: 240px;">
  <br>
  <br>
  <button type="button" style="background-color: #5a443a; color: #fdd0a5; outline: none !important; box-shadow: none; border-color: none !important; font-family: 'Montserrat', sans-serif; font-size: 15px;" onclick="location.href='/single';" class="btn btn-primary btn-lg custom" style="align-self: center;">Single colour</button>
</div>
<div style="display:inline-block; margin:auto;" class="text-center">
  <br>
  <br>
  <br>
  <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/handloom/VOLUME-18-DESIGN-00001.jpg" style="height: 240px; width: 240px;">
  <br>
  <br>
  <button type="button" style="background-color: #5a443a; color: #fdd0a5; outline: none !important; box-shadow: none; border-color: none !important; font-family: 'Montserrat', sans-serif; font-size: 15px;" onclick="location.href='/handloom';" class="btn btn-primary btn-lg custom" style="align-self: center;">Handloom shop bags</button>
</div>
<div style="display:inline-block; margin:auto;" class="text-center">
  <br>
  <br>
  <br>
  <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Jewellery%20shop/VOLUME-15-DESIGN-00001.jpg" style="height: 240px; width: 240px;">
  <br>
  <br>
  <button type="button" style="background-color: #5a443a; color: #fdd0a5; outline: none !important; box-shadow: none; border-color: none !important; font-family: 'Montserrat', sans-serif; font-size: 15px;" onclick="location.href='/jewellery';" class="btn btn-primary btn-lg custom" style="align-self: center;">Jewellery shop bags</button>
</div>
<div style="display:inline-block; margin:auto;" class="text-center">
  <br>
  <br>
  <br>
  <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Flexo%20design/VOLUME-7-DESIGN-00101.jpg" style="height: 240px; width: 240px;">
  <br>
  <br>
  <button type="button" style="background-color: #5a443a; color: #fdd0a5; outline: none !important; box-shadow: none; border-color: none !important; font-family: 'Montserrat', sans-serif; font-size: 15px;" onclick="location.href='/flexo';" class="btn btn-primary btn-lg custom" style="align-self: center;">Flexo</button>
</div>

<div style="display:inline-block; margin:auto;" class="text-center">
  <br>
  <br>
  <br>
  <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Gents%20or%20male%20cloth/VOLUME-8-DESIGN-0001.jpg" style="height: 240px; width: 240px;">
  <br>
  <br>
  <button type="button" style="background-color: #5a443a; color: #fdd0a5; outline: none !important; box-shadow: none; border-color: none !important; font-family: 'Montserrat', sans-serif; font-size: 15px;" onclick="location.href='/males';" class="btn btn-primary btn-lg custom" style="align-self: center;">Menswear shop bags</button>
</div>
<div style="display:inline-block; margin:auto;" class="text-center">
  <br>
  <br>
  <br>
  <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Kids%20wear/VOLUME-10-DESIGN-00001.jpg" style="height: 240px; width: 240px;">
  <br>
  <br>
  <button type="button" style="background-color: #5a443a; color: #fdd0a5; outline: none !important; box-shadow: none; border-color: none !important; font-family: 'Montserrat', sans-serif; font-size: 15px;" onclick="location.href='/kids';" class="btn btn-primary btn-lg custom" style="align-self: center;">Kidswear shop bags</button>
</div>
<div style="display:inline-block; margin:auto;" class="text-center">
  <br>
  <br>
  <br>
  <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Jeans%20shop/VOLUME-14-DESIGN-00001.jpg" style="height: 240px; width: 240px;">
  <br>
  <br>
  <button type="button" style="background-color: #5a443a; color: #fdd0a5; outline: none !important; box-shadow: none; border-color: none !important; font-family: 'Montserrat', sans-serif; font-size: 15px;" onclick="location.href='/jeans';" class="btn btn-primary btn-lg custom" style="align-self: center;">Jeans shop bags</button>
</div>
<div style="display:inline-block; margin:auto;" class="text-center">
  <br>
  <br>
  <br>
  <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Mobile%20Shop/VOLUME-21-DESIGN-0101.jpg" style="height: 240px; width: 240px;">
  <br>
  <br>
  <button type="button" style="background-color: #5a443a; color: #fdd0a5; outline: none !important; box-shadow: none; border-color: none !important; font-family: 'Montserrat', sans-serif; font-size: 15px;" onclick="location.href='/mobile';" class="btn btn-primary btn-lg custom" style="align-self: center;">Mobile shop bags</button>
</div>
<div style="display:inline-block; margin:auto;" class="text-center">
  <br>
  <br>
  <br>
  <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Marriage%20bag/VOLUME-31-DESIGN-00201.jpg" style="height: 240px; width: 240px;">
  <br>
  <br>
  <button type="button" style="background-color: #5a443a; color: #fdd0a5; outline: none !important; box-shadow: none; border-color: none !important; font-family: 'Montserrat', sans-serif; font-size: 15px;" onclick="location.href='/marriage';" class="btn btn-primary btn-lg custom" style="align-self: center;">Marriage bags</button>
</div>
<div style="display:inline-block; margin:auto;" class="text-center">
  <br>
  <br>
  <br>
  <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Shoe%20Shop/VOLUME-24-DESIGN-00031.jpg" style="height: 240px; width: 240px;">
  <br>
  <br>
  <button type="button" style="background-color: #5a443a; color: #fdd0a5; outline: none !important; box-shadow: none; border-color: none !important; font-family: 'Montserrat', sans-serif; font-size: 15px;" onclick="location.href='/shoes';" class="btn btn-primary btn-lg custom" style="align-self: center;">Shoe shop bags</button>
</div>
<div style="display:inline-block; margin:auto;" class="text-center">
  <br>
  <br>
  <br>
  <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Sweet%20shop/VOLUME-27-DESIGN-00001.jpg" style="height: 240px; width: 240px;">
  <br>
  <br>
  <button type="button" style="background-color: #5a443a; color: #fdd0a5; outline: none !important; box-shadow: none; border-color: none !important; font-family: 'Montserrat', sans-serif; font-size: 15px;" onclick="location.href='/sweets';" class="btn btn-primary btn-lg custom" style="align-self: center;">Sweet shop bags</button>
</div>

<div style="display:inline-block; margin:auto;" class="text-center">
  <br>
  <br>
  <br>
  <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/MULTICOLOUR%20WITHOUT%20IMAGE/VOLUME-1-DESIGN-00037.jpg" style="height: 240px; width: 240px;">
  <br>
  <br>
  <button type="button" style="background-color: #5a443a; color: #fdd0a5; outline: none !important; box-shadow: none; border-color: none !important; font-family: 'Montserrat', sans-serif; font-size: 15px;" class="btn btn-primary btn-lg custom" style="align-self: center;">Coming soon</button>
</div>

</div>
