

<h1 class="mt-4">Handloom shop bags</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>

<div class="container p-3">

    <div class="fg-gallery">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00001.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00002.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00003.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00004.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00005.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00006.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00007.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00008.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00009.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00010.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00011.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00012.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00101.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00102.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00103.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00104.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00105.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00106.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00107.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00108.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00109.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00110.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00111.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00112.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00113.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00114.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00115.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00201.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00202.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00203.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00204.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00205.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00206.jpg">
      <img src="https://raw.githubusercontent.com/Tech-Novus/images/main/Handloom/VOLUME-18-DESIGN-00207.jpg">
    </div>
  
  </div>

