<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet"> 
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand">Maitreya Marketing</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Design references</a>
        </li>
        </ul>
    </div>
  </div>
</nav>
<% include ./partials/messages %>
<div style="display: flex; justify-content: center;">
<img src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/49864798_1283237911830917_924296474135625728_n.jpg?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_ohc=Im_sGAkRnAUAX_7stfw&_nc_ht=scontent-bom1-1.xx&oh=d32fa612165c4c909f64c414ae0befdf&oe=60406F64" style="width: 60%;">
</div>
<h1 style="text-align: center; font-family: 'Roboto', sans-serif; font-weight: 900;">Maitreya Marketing</h1>
<h2 style="text-align: center; font-family: 'Roboto', sans-serif; font-weight: 700;">Dealers of customisable non woven bags and packaging machinery</h2>
